<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tiny App</title>
</head>
<body>
  <p class="mt-4 ml-4">You are not authorized to access this resource</p>
  <a class="mt-4 ml-4" href="/urls">URLs Page</a>
</body>
</html>